<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>501529260199-h2gtg4mhso46fpcdpbuepq9s8bo76u3g.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.501529260199-h2gtg4mhso46fpcdpbuepq9s8bo76u3g</string>
	<key>API_KEY</key>
	<string>AIzaSyDNYWBA2qwH_3C5mwk6Xpp7NaF04XPus8A</string>
	<key>GCM_SENDER_ID</key>
	<string>501529260199</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project</string>
	<key>PROJECT_ID</key>
	<string>chess-a3c08</string>
	<key>STORAGE_BUCKET</key>
	<string>chess-a3c08.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:501529260199:ios:604b9d3f23d2ce672c6b82</string>
</dict>
</plist>